Flask==3.1.2
gunicorn==21.2.0

numpy==2.4.1
pandas==2.3.3

scikit-learn>=1.7,<1.9
joblib==1.4.2

sentence-transformers==5.2.0
torch>=2.5.0

tqdm==4.67.1
python-dotenv==1.0.0
gdown==5.1.0
fastparquet>=2.0.0
